    <main>
        <div id="city1">
        <header>
            <nav class="navbar">
                <div>
                    <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>
                </div>
                <a href="#" class="brand"><img src="images/NB_logo.png" alt=""></a>
    
                <div class="right">
                    <a  class="link"><img align="center" src="images/uk.png" alt="">English</a>
                    
                    <a   class="link"><img align="center" src="images/fr.png" alt="">French</a>
                </div>
            </nav>
        </header>
    
        
         
                <div >
                    <div id="city">
                        <div>
                            <!--<h1>Learn French with Nadia</h1>-->
                            <h1>Overseas Staffing Partners </h1>
                            <h2 >leaders in global placement</h2>
                                                
                                <div >
                                    <button class="staffing-interest" type="submit" >Schedule a Meeting</button>
                                    <button class="staffing-email" type="submit" >Email Us</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            
                <div  class="flex method1" id="p2">
                    <h1 style="font-size: 48px; text-align: center; color: white; margin-top: 30px">What We Do</h1>
                        <section class="cards">
                            <div class="staff-card">
                                <a href="#">
                                    <figure class="thumbnail-yellow">
                                        <!--<img src="images/contact.png">-->
                                    </figure>
                                    <div class="staffing-content">
                                        <h3>Learn and learn</h3>
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        
                                    </div><!-- .card-content -->
                                </a>
                            </div><!-- .card -->

                            <div class="staff-card">
                                <a href="#">
                                    <figure class="thumbnail-contact">
                                        <!--<img src="images/contact.png">-->
                                    </figure>
                                    <div class="staffing-content">
                                        <h3>Learn in person</h3>
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        
                                    </div><!-- .card-content -->
                                </a>
                            </div><!-- .card -->

                            <div class="staff-card">
                                <a href="#">
                                    <figure class="thumbnail-light">
                                        <!--<img  src="images/light-bulb-10.png">-->
                                    </figure>
                                    <div class="staffing-content">
                                        <h3>Learn By Skype</h3>
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        
                                    </div><!-- .card-content -->
                                </a>
                            </div><!-- .card -->

                            <div class="staff-card">
                                <a href="#">
                                    <figure class="thumbnail-phone" >
                                        <!--<img src="images/phone.png" >-->
                                    </figure>
                                    <div class="staffing-content">
                                        <h3>Learn By Phone</h3>
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        
                                    </div><!-- .card-content -->
                                </a>
                            </div><!-- .card -->
                        </section>  

                </div>
                <div class="flex works">
                                      
                </div>

                 <div style="display: flex; height: 100vh;">
                     <div style="flex: 1; display: flex;flex-direction: column; " >
                        <div style="flex: 1; display: flex; background-color: #254871">
                         
                     </div>
                     <div style="flex: 6; display: flex;">
                             <div style="flex: 1; display: flex;flex-wrap: wrap;">
                                <div style="min-width: 50%;position: relative; color: white;flex: 1; background: url('../../images/box2-bw.png') no-repeat; background-size: cover;">
                                    <h2 class="thumb-text">what we do 1</h2>
                                </div>
                                <div style="min-width: 50%;position: relative; color: white; flex: 1; background: url('../../images/box4.png') no-repeat; background-size: cover;">
                                    <h2 class="thumb-text">what we do 2</h2>
                                </div>
                                <div style="min-width: 50%;position: relative; color: white;flex: 1; background: url('../../images/box5-bw.png') no-repeat; background-size: cover;">
                                    <h2 class="thumb-text">what we do 3</h2>
                                </div>
                                <div style="min-width: 50%;position: relative; color: white;flex: 1; background: url('../../images/box6.png') no-repeat; background-size: cover;">
                                    <h2 class="thumb-text">what we do 3</h2>
                                </div>

                            </div>

                           
                     </div>
                     </div>
                     
                     
                     <div style="flex: 1; position: relative;display: flex;background: url('../../images/ana-bernardo-185037-bw.png') no-repeat; background-size: cover;">
                         
                        <h1 class="thumb-text" >allo nono</h1>
                     </div>
                    
                </div>

                <!--<div>
                    <h1>Take a quiz to test your level</h1>
                    <div class="signup">
                                <button ui-sref="quiz" >Take the quiz</button>
                            </div>
                </div>

                <div>-->
                    <!--<div class="slider">
                        
                        <div class="slide-container">
                            <img src="images/parker-byrd-139348.png" />
                            <div class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                        </div>
                            
                        <div class="slide-container">
                            <img src="images/ana-bernardo-185037.png" />
                            <div class="slide-caption-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                        </div>
  
                        <div class="slide-container">
                            <img src="images/luca-bravo-207676.png" />
                            <div class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                        </div>
  
                        <div class="slide-container">
                            <img src="images/ryan-riggins-213451.png" />
                            <div class="slide-caption-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                        </div>
                    </div>-->



                    <!--<div id="contact">
                        <div class="contact-divider">
                            <div class="questions">
                                <h1>HAVE A
                                    <br> QUESTION?
                                </h1>
                            </div>
                            
                            <div id="form_div">
                                <div > 
                                    <div id="form"> 
                                        <div id="form-center"  >   
                                        <input type="text" class="field" placeholder="Name" /><br>
                                        <input type="email" class="field" placeholder="E-mail" />
                                        <textarea id="message" class="field" placeholder="Message"></textarea>
                                        <input id="submit" type="submit" value="Send">
                                        </div  > 
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div id="footer">
                        <div>
                            <div class="left">
                                <a href="">info@hello.com</a>
                            </div>
                            <div class="right">
                                <button  type="button" class="social-media">
                                    <div>
                                        <img src="images/instagram.png">
                                    </div>
                                </button>
                                <button type="button" class="social-media">
                                    <div>
                                        <img src="images/twitter.png">
                                    </div>
                                </button>
                                <button type="button" class="social-media">
                                    <div>
                                        <img src="images/facebook.png">
                                    </div>
                                </button>
                                <button type="button" class="social-media">
                                    <div>
                                        <img src="images/pintrest.png">
                                    </div>
                                </button>
                            </div>
                        </div>
                        
                        <p class="copyright">website.com 2017 
                            <span>Terms and conditions &amp; Privacy Policy</span>
                        </p>
                    </div>
           
        
    </main>

    