    <main>
        <div id="welcome1">
        <header>
            <nav class="navbar">
                <div>
                    <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>
                </div>
                <a href="#" class="brand"><img src="images/bonmot1.png" alt=""></a>
    
                <div class="right">
                    <a ng-click="english.language('english')" class="link"><img align="center" src="images/uk.png" alt="">English</a>
                    <a ng-click="english.language('french')"  class="link"><img align="center" src="images/fr.png" alt="">French</a>
                </div>
            </nav>
        </header>
    
                 {{english.language}}
         
                <div >
                    <div id="welcome">
                        <div>
                            <!--<h1>Learn French with Nadia</h1>-->
                            <h1>{{english.heading}} </h1>
                            <h2 >learn the right way</h2>
                             <a style="color:white" href="#pfk" data-toggle="modal" class="underline-color-white"><p class="carousel-image1" >Click to watch a short video</p><span class="video-button" >
        </span></a>
                                                
                                <div class="signup">
                                    <button type="submit" ui-sref="english({'#':'contact'})" >Schedule a class</button>
                                    
                                   
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            
                <div  class="flex about" id="p2">
                    
                        <h1>LEARN FRENCH THE RIGHT WAY</h1>
                        <p>come learn french with us, 
                            <br>will will take your goals and make it a reality.
                        </p>
                        <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                            <br>et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                        
                        <section class="cards">
                            

                          

                             <div class="card">
                                <a href="#">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front">
                                                   <div class="thumb-image" style="background: url('images/louvre.png') center center / cover no-repeat;">
                                            <div class="gradient" >
                                                <div class="thumb-text">
                                                    <h5>Conversation</h5>
                                                    <h6>Subheadline</h6>
                                                </div> 
                                            </div>     
                                        </div>
                                                </div>
                                                <div class="back" style="padding-top: 30px"> 
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam neque illum quasi molestiae odit distinctio praesentium, dolores, ex voluptas odio libero velit earum deserunt ea doloremque in provident explicabo fugiat?</p>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                            </div><!-- .card -->

                            

                            <div class="card">
                                <a href="#">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front">
                                                    <div class="thumb-image" style="background: url('images/olive.png') center center / cover no-repeat;">
                                            <div class="gradient" >
                                                <div class="thumb-text">
                                                    <h5>Pronounciation</h5>
                                                    <h6>Subheadline</h6>
                                                </div> 
                                            </div>     
                                        </div>
                                                </div>
                                                <div class="back" style="padding-top: 30px"> 
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam neque illum quasi molestiae odit distinctio praesentium, dolores, ex voluptas odio libero velit earum deserunt ea doloremque in provident explicabo fugiat?</p>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                            </div><!-- .card -->

                           
            
                            <div class="card">
                                <a href="#">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front">
                                                    <div class="thumb-image" style="background: url('images/house.png') center center / cover no-repeat;">
                                            <div class="gradient" >
                                                <div class="thumb-text">
                                                    <h5>Culture</h5>
                                                    <h6>Subheadline</h6>
                                                </div> 
                                            </div>     
                                        </div>
                                                </div>
                                                <div class="back" style="padding-top: 30px"> 
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam neque illum quasi molestiae odit distinctio praesentium, dolores, ex voluptas odio libero velit earum deserunt ea doloremque in provident explicabo fugiat?</p>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                            </div><!-- .card -->


                             <div class="card">
                                <a href="#">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front">
                                                   <div class="thumb-image" style="background: url('images/croissant.png') center center / cover no-repeat;">
                                            <div class="gradient" >
                                                <div class="thumb-text">
                                                    <h5>Reading</h5>
                                                    <h6>Subheadline</h6>
                                                </div> 
                                            </div>     
                                        </div>
                                                </div>
                                                <div class="back" style="padding-top: 30px"> 
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam neque illum quasi molestiae odit distinctio praesentium, dolores, ex voluptas odio libero velit earum deserunt ea doloremque in provident explicabo fugiat?</p>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                            </div><!-- .card -->
                            
                          

                             <div class="card">
                                <a href="#">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front">
                                                   <div class="thumb-image" style="background: url('images/arc.png') center center / cover no-repeat;">
                                            <div class="gradient" >
                                                <div class="thumb-text">
                                                    <h5>Writing</h5>
                                                    <h6>Subheadline</h6>
                                                </div> 
                                            </div>     
                                        </div>
                                                </div>
                                                <div class="back" style="padding-top: 30px"> 
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam neque illum quasi molestiae odit distinctio praesentium, dolores, ex voluptas odio libero velit earum deserunt ea doloremque in provident explicabo fugiat?</p>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                            </div><!-- .card -->

                            <div class="card">
                                <a href="#">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front">
                                                    <div class="thumb-image" style="background: url('images/bistro.png') center center / cover no-repeat;">
                                                        <div class="gradient" >
                                                            <div class="thumb-text">
                                                                <h5>Listening</h5>
                                                                <h6>Subheadline</h6>
                                                             </div> 
                                                        </div>     
                                                    </div>
                                                </div>
                                                <div class="back" style="padding-top: 30px"> 
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam neque illum quasi molestiae odit distinctio praesentium, dolores, ex voluptas odio libero velit earum deserunt ea doloremque in provident explicabo fugiat?</p>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                            </div><!-- .card -->
                        </section>
                </div>


                <div class="flex works">
                    <h1 style="font-size: 48px; text-align: center; color: #F9564F; margin-top: 40px; margin-bottom: 30px;">LET'S START LEARNING</h1>
                        <section class="cards">
                            <article class="card2">
                                <a href="#">
                                    <figure class="thumbnail-1">
                                        <!--<img src="images/contact.png">-->
                                    </figure>
                                    <div class="card-content">
                                        <h2>Learn by FaceTime</h2>
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        
                                    </div><!-- .card-content -->
                                </a>
                            </article><!-- .card -->

                            <article class="card2">
                                <a href="#">
                                    <figure class="thumbnail-2">
                                        <!--<img  src="images/light-bulb-10.png">-->
                                    </figure>
                                    <div class="card-content">
                                        <h2>Learn By Skype</h2>
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        
                                    </div><!-- .card-content -->
                                </a>
                            </article><!-- .card -->

                            <article class="card2">
                                <a href="#">
                                    <figure class="thumbnail-3" >
                                        <!--<img src="images/phone.png" >-->
                                    </figure>
                                    <div class="card-content">
                                        <h2>Learn By Phone</h2>
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        
                                    </div><!-- .card-content -->
                                </a>
                            </article><!-- .card -->
                        </section>                    
                </div>


                  <div style="padding: -1px; background: url('images/paris2.png'); background-repeat: repeat-x;
    background-attachment: bottom;
    background-position: bottom;  background-color: #386DAA">
                    <h1 style="text-align: center; padding-top: 10px; color: white" >Watch a short video</h1>
                    <div style="display: flex;">
                         <div style="flex: 1">
                        <h1 style="padding: 15px;">watch a short video to get an idea about our teaching style and how we want you to excel and meet your goals</h1>
                        <!--<img src="images/paris.png" alt="">-->
                    </div>
                    <div class="signup" style="padding: 10px;flex: 1; margin-bottom: 80px">
                                  <!--<iframe src="https://player.vimeo.com/video/219455966" width="240" height="431" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                                  <iframe src="https://player.vimeo.com/video/224494199" width="600" height="322" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    </div>
                   
                </div>
                <div style="display: flex">
                    <div style="flex: 1" >
                        <img style="width: 300px; padding: 40px"  src="images/classroom.png" alt="">
                    </div>
                    <div style="flex: 2">
                         <h1 style="text-align: center; margin-top: 50px" >Test your level</h1>
                         <h3>Take a short quiz to test your French vocabulary and grammer</h3>
                        <div style="margin-top: 40px" class="signup">
                                    <button ui-sref="quiz.landing" >Take the quiz</button>
                                </div>
                    </div>
                   
                </div>

  

                    <div id="contact">
                        <div class="contact-divider">
                            <div class="questions">
                                <h1>HAVE A
                                    <br> QUESTION?
                                </h1>
                            </div>
                            
                            <div id="form_div">
                                <div > 
                                    <div id="form"> 
                                        <div id="form-center"  >   
                                        <input type="text" class="field" placeholder="Name" ng-model="english.name" /><br>
                                        <input type="email" class="field" placeholder="E-mail" ng-model="english.email"/>
                                        <textarea id="message" class="field" placeholder="Message" ng-model="english.message"></textarea>
                                        <input id="submit" type="submit"  ng-click="english.sendMail()">
                                        </div  > 
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="footer">
                        <div style="display: flex; border-bottom: 1px solid #9B9B9B ">
                            <div style="flex: 1; background-color: #6F6D6D; border-radius: 4px;margin-top: 30px;margin-right: 30px; margin-left: 30px;">
                                <ul style="list-style: none"  >
                                    <li ><a style="color: #4A90E2" href="">Bon Mot Tutoring</a></li>
                                    <li><a style="color: #959494" href="">About Us</a></li>
                                    <li><a style="color: #959494" href="">Contact</a></li>
                                    <li><a style="color: #959494" href="">Bon Mot Tutoring</a></li>
                                    <li><a style="color: #959494" href="">Bon Mot Tutoring</a></li>
                                </ul>
                            </div>
                            <div style="flex: 2; display: flex; flex-direction: column; ">
                                <div style="flex: 1 1 200px; display: flex; flex-direction: row; padding-left: 30px;">
                                    <div style="margin-right: 50px" class="img-circular" ></div>
                                    <div class="talkbubble">
                                            <h3 style="color: #9B9B9B">Bonjour, je serai votre coach</h3>
                                    </div>

                                </div>
                                    
                                   
                                <div style="flex: 1 1 170px; border-top: 1px solid #9B9B9B"> 
                                        <h3 style="color: #9B9B9B;text-align: center">Follow us on social media</h3>
                                        <div style="display: flex; justify-content: space-around;">
                                            <div>
                                                <div style="width: 90px; height: 90px;background-color: #6F6D6D; background-image: url('images/facebook-icon.png');background-position: center; background-repeat: no-repeat; background-size: 90px 90px; border-radius: 10px"></div>
                                                <p style="color: #9B9B9B;font-size: 10px;">follow us on facebook</p>
                                            </div>
                                            <div>
                                                <div style="width: 90px; height: 90px;  background-color: #6F6D6D; background-image: url('images/instagram-icon.png'); background-repeat: no-repeat; background-size: 70px 70px; background-position: center; border-radius: 10px"></div>
                                                <p style="color: #9B9B9B;font-size: 10px;">follow us on instagram</p>
                                            </div>
                                            
                                           <div>
                                                <div style="width: 90px; height: 90px;  background-color: #6F6D6D; background-image: url('images/twitter-icon.png'); background-repeat: no-repeat;background-position: center;background-size: 60px 60px;  border-radius: 10px"></div>
                                                <p style="color: #9B9B9B;font-size: 10px;">follow us on twitter</p>
                                            </div>

                                            <div>
                                                <div style="width: 90px; height: 90px;  background-color: #6F6D6D; background-image: url('images/vimeo-icon.png'); background-repeat: no-repeat;background-position: center; background-size: 60px 60px; border-radius: 10px"></div>
                                                <p style="color: #9B9B9B;font-size: 10px;">follow us on vimeo</p>
                                            </div>
                                        </div>
                                      </div>
                               
  
                                
                            </div >
                           
                        </div>
                        
                        
                    </div>
                    <p style="color: #959494" class="copyright">NB.com 2017 
                            <span>Terms and conditions &amp; Privacy Policy</span>
                        </p>
        
    </main>


    <div id="pfk" class="modal fade">
    <div  class="modal-dialog modal-lg">
        <div class="modal-content">
             <div class="modal-header">
            <button type="button"  id="pause-button"class="close glyphicon glyphicon-remove" style="color:white" data-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center" >
            <!-- <div class="videoWrapper"> -->
                <!--<iframe id="video" src="https://player.vimeo.com/video/160045544?api=1?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
                  <!--<iframe src="https://player.vimeo.com/video/219455966" width="240" height="431" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>    -->
                  <iframe  src="https://player.vimeo.com/video/224494199" width="550" height="362" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <!-- </div> -->
        </div>
        <div class="modal-footer">
        

        </div>
        
            
        </div>
           
    </div>      
</div>
