    <main>
        <div id="welcome1">
        <header>
            <nav class="navbar">
                <div>
                    <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>
                </div>
                <a href="#" class="brand"><img src="images/NB_logo.png" alt=""></a>
    
                <div class="right">
                    <a href="#" class="link"><img align="center" src="images/uk.png" alt="">English</a>
                    
                    <a href="#" class="link"><img align="center" src="images/fr.png" alt="">French</a>
                </div>
            </nav>
        </header>
    
        
         
                <div >
                    <div id="welcome">
                        <div>
                            <h1>Learn French with Nadia</h1>
                            <h2 >learn the right way</h2>
                                                
                            <div class="signup">
                                <button type="submit" >Schedule a class</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                <div  class="flex about" id="p2">
                    
                        <h1>LEARN FRENCH THE RIGHT WAY</h1>
                        <p>do eiusmod tempor incididunt ut labore et dolore 
                            <br>laboris nisi ut aliquip ex.
                        </p>
                        <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                            <br>et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                        
                        <section class="cards">
                            

                            <div class="card">
                                <a href="#">
                                    <figure class="thumbnail">
                                        <div class="thumb-image" style="background: url('images/louvre.png') center center / cover no-repeat;">
                                            <div class="gradient" >
                                                <div class="thumb-text">
                                                    <h5>Conversation</h5>
                                                    <h6>Subheadline</h6>
                                                </div> 
                                            </div>     
                                        </div>
                                    </figure>                       
                                </a>
                            </div><!-- .card -->

                            <div class="card">
                                <a href="#">
                                    <figure class="thumbnail">
                                        <div class="thumb-image" style="background: url('images/olive.png') center center / cover no-repeat;">
                                            <div class="gradient" >
                                                <div class="thumb-text">
                                                    <h5>Pronounciation</h5>
                                                    <h6>Subheadline</h6>
                                                </div> 
                                            </div>     
                                        </div>
                                    </figure>                       
                                </a>
                            </div><!-- .card -->

                            <div class="card">
                                <a href="#">
                                    <figure class="thumbnail">
                                        <div class="thumb-image" style="background: url('images/house.png') center center / cover no-repeat;">
                                            <div class="gradient" >
                                                <div class="thumb-text">
                                                    <h5>Culture</h5>
                                                    <h6>Subheadline</h6>
                                                </div> 
                                            </div>     
                                        </div>
                                    </figure>                       
                                </a>
                            </div><!-- .card -->

                           

                            <div class="card">
                                <a href="#">
                                    <figure class="thumbnail">
                                        <div class="thumb-image" style="background: url('images/croissant.png') center center / cover no-repeat;">
                                            <div class="gradient" >
                                                <div class="thumb-text">
                                                    <h5>Reading</h5>
                                                    <h6>Subheadline</h6>
                                                </div> 
                                            </div>     
                                        </div>
                                    </figure>                       
                                </a>
                            </div><!-- .card -->
                            
                            <div class="card">
                                <a href="#">
                                    <figure class="thumbnail">
                                        <div class="thumb-image" style="background: url('images/arc.png') center center / cover no-repeat;">
                                            <div class="gradient" >
                                                <div class="thumb-text">
                                                    <h5>Writing</h5>
                                                    <h6>Subheadline</h6>
                                                </div> 
                                            </div>     
                                        </div>
                                    </figure>                       
                                </a>
                            </div><!-- .card -->

                            <div class="card">
                                <a href="#">
                                    <figure class="thumbnail">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front">
                                                    <div class="thumb-image" style="background: url('images/bistro.png') center center / cover no-repeat;">
                                                        <div class="gradient" >
                                                            <div class="thumb-text">
                                                                <h5>Listening</h5>
                                                                <h6>Subheadline</h6>
                                                             </div> 
                                                        </div>     
                                                    </div>
                                                </div>
                                                <div class="back"> 
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam neque illum quasi molestiae odit distinctio praesentium, dolores, ex voluptas odio libero velit earum deserunt ea doloremque in provident explicabo fugiat?</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>                       
                                </a>
                            </div><!-- .card -->
                    
                </div>

<div class="flip-container">
  <div class="flipper">
    <div class="front">
       <div class="thumb-image" style="background: url('images/bistro.png') center center / cover no-repeat;">
         <div class="gradient" >
            <div class="thumb-text">
                <h5>Listening</h5>
                <h6>Subheadline</h6>
            </div> 
        </div>     
    </div>
</div>
    <div class="back"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam neque illum quasi molestiae odit distinctio praesentium, dolores, ex voluptas odio libero velit earum deserunt ea doloremque in provident explicabo fugiat?</p>
    </div>
  </div>
</div>


                <div class="flex works">
                    <h1 style="font-size: 48px; text-align: center; color: #F9564F">HOW IT WORKS</h1>
                        <section class="cards">
                            <article class="card2">
                                <a href="#">
                                    <figure class="thumbnail-contact">
                                        <!--<img src="images/contact.png">-->
                                    </figure>
                                    <div class="card-content">
                                        <h2>Learn by FaceTime</h2>
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        
                                    </div><!-- .card-content -->
                                </a>
                            </article><!-- .card -->

                            <article class="card2">
                                <a href="#">
                                    <figure class="thumbnail-light">
                                        <!--<img  src="images/light-bulb-10.png">-->
                                    </figure>
                                    <div class="card-content">
                                        <h2>Learn By Skype</h2>
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        
                                    </div><!-- .card-content -->
                                </a>
                            </article><!-- .card -->

                            <article class="card2">
                                <a href="#">
                                    <figure class="thumbnail-phone" >
                                        <!--<img src="images/phone.png" >-->
                                    </figure>
                                    <div class="card-content">
                                        <h2>Learn By Phone</h2>
                                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                                        
                                    </div><!-- .card-content -->
                                </a>
                            </article><!-- .card -->
                        </section>                    
                </div>

                <div>
                    <div class="slider">
                        
                        <div class="slide-container">
                            <img src="images/parker-byrd-139348.png" />
                            <div class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                        </div>
                            
                        <div class="slide-container">
                            <img src="images/ana-bernardo-185037.png" />
                            <div class="slide-caption-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                        </div>
  
                        <div class="slide-container">
                            <img src="images/luca-bravo-207676.png" />
                            <div class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                        </div>
  
                        <div class="slide-container">
                            <img src="images/ryan-riggins-213451.png" />
                            <div class="slide-caption-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                        </div>
                    </div>



                    <div id="contact">
                        <div class="contact-divider">
                            <div class="questions">
                                <h1>HAVE A
                                    <br> QUESTION?
                                </h1>
                            </div>
                            
                            <div id="form_div">
                                <div > 
                                    <div id="form"> 
                                        <div id="form-center"  >   
                                        <input type="text" class="field" placeholder="Name" /><br>
                                        <input type="email" class="field" placeholder="E-mail" />
                                        <textarea id="message" class="field" placeholder="Message"></textarea>
                                        <input id="submit" type="submit" value="Send">
                                        </div  > 
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="footer">
                        <div>
                            <div class="left">
                                <a href="">info@trecto.com</a>
                            </div>
                            <div class="right">
                                <button  type="button" class="social-media">
                                    <div>
                                        <img src="images/instagram.png">
                                    </div>
                                </button>
                                <button type="button" class="social-media">
                                    <div>
                                        <img src="images/twitter.png">
                                    </div>
                                </button>
                                <button type="button" class="social-media">
                                    <div>
                                        <img src="images/facebook.png">
                                    </div>
                                </button>
                                <button type="button" class="social-media">
                                    <div>
                                        <img src="images/pintrest.png">
                                    </div>
                                </button>
                            </div>
                        </div>
                        
                        <p class="copyright">Trecto.com 2017 
                            <span>Terms and conditions &amp; Privacy Policy</span>
                        </p>
                    </div>
           
        
    </main>