<div class="candidate-softskills">
    <nav class="navbar navbar-default">
         <span style="float: right"><a ui-sref="english">back to home page</a></span>
        <div class="container-fluid">


            <div class="heading">
                <h3> Take a short quiz to test your french level </h3>
            </div>
        </div>
    </nav>
    <div id="bkgrd_img">

        <div class="marquee">
            <h4 id="bodyCopy">Answer the following question to the best of you ability and discover your level of French and find out what 
                areas you can improve on for greater fluency!
            </h4>
                    <br/>
                    <br/>

                    <h4 class="assement-heading">This will take arround 10 minutes to complete (20 questions)</h4>
                    
        </div>
         <div id="button">
                        <button type="button" class="btn" ui-sref="quiz.questions">Test my skill level</button>
                    </div>
       

    </div>


</div>