<div class="candidate-softskills">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                 <span> <a ui-sref="english">Take Later</a></span>
              
            </ul>

            <div class="heading">
                <h3> Take a short quiz to test your levels </h3>
            </div>
        </div>
    </nav>
    <div id="bkgrd_img">

        <div class="marquee">
            <h4 id="bodyCopy">Answers to these questions reveal beyond just your lifestyle and personality,
              but these are also keys to unlock your professional potential. This assessment is a sneakpeak into how tendencies in your personal life
              may translate into your professional life.</h4>
                    <br/>
                    <br/>

                    <h4 class="assement-heading">In this 10-minute assessment (20 questions), you will learn:</h4>
                    
        </div>
         <div id="button">
                        <button type="button" class="btn" ui-sref="quiz.questions">Test my skill level</button>
                    </div>
       

    </div>


</div>